body {
    background-color: #FF8E52;
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
}

p {
	color: #000000;
	opacity: 1;
	font-family: 'Verdana';
	font-size:18px;
	line-height: 22px;
}

a:link, a:visited, a:hover, a:focus, a:active {
	color:#000000;
  }
  
.top-nav {
    padding-top: 50px;
}

.sophie-label {
    list-style-type: none;
    font-family: 'Verdana';
    font-size:40px;
    display: inline-block;
    vertical-align:middle;
    padding-left: 50px;
    padding-right: 20px;    
}

.orange-icon {
    height: 50px;
    display: inline-block;
	vertical-align:middle;
}

.square {
	width: 70%;
	height: 40%;
	background-color:rgba(255,255,255, 0.5);
	z-index: 9999;
	position: absolute;
	border-radius: 10px 100px / 120px;
	text-align:center;
}

.centered {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

@keyframes oranges-falling-one {
	0% {
		top: -30%
	}
	100% {
		top: 90%
	}
}

@keyframes oranges-falling-two {
	0% {
		top: -40%
	}
	100% {
		top: 80%
	}
}

@keyframes oranges-falling-three {
	0% {
		top: -30%
	}
	100% {
		top: 70%
	}
}

.orange-layer-one {
	position: absolute;
	top: -30%;
	z-index: 9000;
	user-select: none;
	cursor: default;
	animation-name: oranges-falling-one;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
	animation-iteration-count: 1;
}

.orange-layer-two {
	position: absolute;
	top: -40%;
	z-index: 9998;
	user-select: none;
	cursor: default;
	animation-name: oranges-falling-two;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
	animation-iteration-count: 1;
}

.orange-layer-three {
	position: absolute;
	top: -30%;
	z-index: 9999;
	user-select: none;
	cursor: default;
	animation-name: oranges-falling-three;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
	animation-iteration-count: 1;
}

.orange-layer-one:nth-of-type(0) {
	left: 1%;
	-webkit-animation-delay: 0s, 0s;
	animation-delay: 0s, 0s
}

.orange-layer-one:nth-of-type(1) {
	left: 10%;
    -webkit-animation-delay: 1s, 1s;
	animation-delay: 1s, 1s
}

.orange-layer-one:nth-of-type(2) {
	left: 20%;
    -webkit-animation-delay: 3s, .5s;
	animation-delay: 3s, .5s
}

.orange-layer-one:nth-of-type(3) {
	left: 30%;
	-webkit-animation-delay: 4s, 2s;
	animation-delay: 4s, 2s
}

.orange-layer-one:nth-of-type(4) {
	left: 40%;
	-webkit-animation-delay: 2s, 2s;
	animation-delay: 2s, 2s
}

.orange-layer-one:nth-of-type(5) {
	left: 50%;
	-webkit-animation-delay: 8s, 3s;
	animation-delay: 8s, 3s
}

.orange-layer-one:nth-of-type(6) {
	left: 60%;
	-webkit-animation-delay: 5s, 2s;
	animation-delay: 5s, 2s
}

.orange-layer-one:nth-of-type(7) {
	left: 70%;
	-webkit-animation-delay: 2.5s, 1s;
	animation-delay: 2.5s, 1s
}

.orange-layer-one:nth-of-type(8) {
	left: 80%;
	-webkit-animation-delay: 1s, 0s;
	animation-delay: 1s, 0s
}

.orange-layer-one:nth-of-type(9) {
	left: 90%;
	-webkit-animation-delay: 3s, 1.5s;
	animation-delay: 3s, 1.5s
}

/* second row */
.orange-layer-two:nth-of-type(1) {
	left: 5%;
	-webkit-animation-delay: 5s, 1s;
	animation-delay: 5s, 1s
}

.orange-layer-two:nth-of-type(2) {
	left: 35%;
	-webkit-animation-delay: 7s, .3s;
	animation-delay: 7s, .3s
}

.orange-layer-two:nth-of-type(3) {
	left: 85%;
	-webkit-animation-delay: 5s, 1s;
	animation-delay: 5s, 1s
}

.orange-layer-two:nth-of-type(4) {
	left: 75%;
	-webkit-animation-delay: 3s, 3s;
	animation-delay: 3s, 3s
}

.orange-layer-two:nth-of-type(5) {
	left: 65%;
	-webkit-animation-delay: 6s, 3s;
	animation-delay: 6s, 3s
}

.orange-layer-two:nth-of-type(6) {
	left: 15%;
	-webkit-animation-delay: 4s, 6s;
	animation-delay: 4s, 6s
}

/* third row */
.orange-layer-three:nth-of-type(1) {
	left: 10%;
	-webkit-animation-delay: 7s, 3s;
	animation-delay: 7s, 3s
}

.orange-layer-three:nth-of-type(2) {
	left: 80%;
	-webkit-animation-delay: 7s, 7s;
	animation-delay: 7s, 7s
}

